body{
    margin: 0;
    background-color:hsl(30, 54%, 90%);
}
main{
    margin: 4rem auto;
    background-color: hsl(0, 0%, 100%);
    max-width: 30rem;
    padding: 2rem;
}
img{
    max-width: 100%;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
main{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}



.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }