body{
    margin: 0;
    background-color:hsl(30, 54%, 90%);
}
main{
    margin: 4rem auto;
    background-color: hsl(0, 0%, 100%);
    max-width: 30rem;
    padding: 2rem;
}
img{
    max-width: 100%;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
main{
    border-radius: 1rem;
    font-family: "outfit";
    color: hsl(30, 10%, 34%);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
h1, h2{
    font-family: "Young Serif";
    font-weight: 400;
}
h2{
    color: hsl(14, 45%, 36%);
}
.title .time{
    border-radius: 8px;
    padding: 16px 16px;
    background-color: hsl(330, 100%, 96%);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.title .time h2{
    margin: 0;
    color: hsl(332, 51%, 32%);
    font-family: "outfit";
    font-weight: 600;
    font-size: 20px;
}
.title .time ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.title .time ul li{
    padding-left: 3rem;
    margin: 8px 0;
}
.title .time ul li::before{
    content: "";
    transform: translateX(-1rem) translateY(.4rem);
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: hsl(332, 51%, 32%);
    height: 4px;
    width: 4px;
    -webkit-transform: translateX(-2rem) translateY(.4rem);
    -moz-transform: translateX(-1rem) translateY(.4rem);
    -ms-transform: translateX(-1rem) translateY(.4rem);
    -o-transform: translateX(-1rem) translateY(.4rem);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.ingredients ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
}
.ingredients ul li{
    padding-left: 2rem;
    margin: 8px 0;
}
.ingredients ul li::before{
    content: "";
    transform: translateX(-1.5rem) translateY(.4rem);
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: hsl(14, 45%, 36%);
    height: 4px;
    width: 4px;
    -webkit-transform: translateX(-1.5rem) translateY(.4rem);
    -moz-transform: translateX(-1.5rem) translateY(.4rem);
    -ms-transform: translateX(-1.5rem) translateY(.4rem);
    -o-transform: translateX(-1.5rem) translateY(.4rem);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.instructions ol{
    padding-left: 1rem;
}
.instructions ol li{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    margin: 1rem 0;
    padding-left: 1rem;
}
.instructions ol li p{
    color: hsl(30, 10%, 34%);
    font-weight: normal;
}
.nutrition table{
    width: 100%;
}
.nutrition table tr{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    border-bottom: 1px solid hsl(30, 10%, 34%);
}
.nutrition table tr:last-child{
    border-bottom: none;
}
.nutrition table tr th, td{
    display: inline-block;
}
.nutrition table tr th{
    text-align: start;
    font-weight: 400;
}
.nutrition table tr td{
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }