body{
    margin: 0;
    background-color:hsl(30, 54%, 90%);
}
main{
    margin: 4rem auto;
    background-color: hsl(0, 0%, 100%);
    max-width: 30rem;
    padding: 2rem;
}
img{
    max-width: 100%;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }